<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVERTISEMENT</title>
</head>
<body>

    <h1>
        There are three inpute parameter
    </h1>
    <h3>Radio, TV, Newspaper </h3>
    <button href="home"> Get Data </button>

    <form action="submit" method="POST">
        <label for="TV"> Enter the data for prediction </label>
        <input tyep="text" id = 'tv' name="TV"><br><br>
        <label for="Radio"> Enter the data for prediction </label>
        <input tyep="text" id = 'radio' name="Radio"><br><br>
        <label for="Newspaper"> Enter the data for prediction </label>
        <input tyep="text" id = 'newspaper' name="Newspaper"><br><br>
        <input type="submit" value="Submit">
    </form>

    <h1>
        There are three inpute parameter
    </h1>

    
    
</body>
</html>